<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baymax - Guide Service</title>
    <!-- Local Bootstrap CSS -->
    <link href="../static/css/basic.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header class="header bg-light">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="index.html">Baymax</a>
            <a class="navbar-brand" href="../theProject.html">The Project</a>
            <a class="navbar-brand" href="../impressum.html">Impressum</a>
        </nav>
    </header>

    <!-- Task Submition Form -->
    <form action="/submit" method="post" id="submitForm">
        <div class="center-section">
            <!-- User Location -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown_loc" data-bs-toggle="dropdown" aria-expanded="false">
                    Select your location
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown_loc">
                    <li><a class="dropdown-item" data-value="Loc1">Loc 1</a></li>
                    <li><a class="dropdown-item" data-value="Loc2">Loc 2</a></li>
                    <li><a class="dropdown-item" data-value="Loc3">Loc 3</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" onclick="resetLoc()">Reset selected location</a></li>
                </ul>
                <input type="hidden" name="location" id="location">
            </div>
        </div>
            <!-- User Destination Table -->
            <div class="table">
                <!-- <h4>Select your destination</h4> -->
                <table id="destTable" class="display">
                    <thead id="dest_tableHead">
                        <tr>
                            <th>Stand-Name</th>
                            <th>Stand-Nr</th>
                            <th>Hallen-Nr</th>
                            <th>Ebene</th>
                            <th>Thema</th>
                        </tr>
                    </thead>
                    <tbody id="dest_tableBody">
                        <tr>
                            <td>TechInnovations</td>
                            <td>101</td>
                            <td>3</td>
                            <td>1</td>
                            <td>Technologie</td>
                        </tr>
                        <tr>
                            <td>GreenEnergy Solutions</td>
                            <td>205</td>
                            <td>1</td>
                            <td>0</td>
                            <td>Erneuerbare Energien</td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="destination" id="destination">
            </div>

            <!-- Action Buttons -->
            <div class="buttons">
                <!-- Button for sending the data -->
                <div class="mt-4">
                    <button class="btn" id="btn-success" type="submit">
                        Send Baymax to my location!
                    </button>
                </div>

                <!-- Button to reset the dropdowns -->
                <div class="mt-4">
                    <button class="btn" type="button" id="btn-reset" onclick="resetLocDest()">
                        Reset!
                    </button>
                </div>
            </div>
        </div>
    </form>

    <!-- Footer -->
    <footer class="footer bg-light">
        <p>© 2024 Baymax Corp. All rights reserved.</p>
        <p>1234 Baymax St, Robo City, RC 56789</p>
    </footer>

    <script src="../static/js/jquery.slim.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/dropdownSync.js"></script>
    <script src="../static/js/dropDownToggle.js"></script>
    <script src="../static/js/resetButton.js"></script>
    <script src="../static/js/checkSubmitCondition.js"></script>
    <script src="../static/js/selectItemTable.js"></script>
    <script src="../static/js/sortingTable.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</body>
</html>
